// blog page styling

.main,
%container-width {
  //width: 92.59%;
  padding: $baseline-height 3.703%;
}
.excerpt {
  background: white;
  margin: $baseline-height auto;
  padding: $baseline-height 8% $baseline-height * 1.5;
}
.excerpt.has-post-thumbnail {
  padding-top: 0;
}
.featured-image {
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 0;
  padding-bottom: 63%;
  left: -9.5%;
  width: 119%;
  margin-bottom: $baseline-height;

  a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
.excerpt-meta-top {
  margin-bottom: $baseline-height * 0.5;
  padding-bottom: $baseline-height * 0.5;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 32%;
    height: 2px;
    background: $orange;
    bottom: 0;
    left: 0;
  }
  a {
    text-decoration: none;
    color: $gray;

    &:link,
    &:visited {
      color: $gray;
    }
    &:hover,
    &:active {
      color: $orange;
    }
  }
}
.excerpt-title {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.385;
  word-wrap: break-word;
  -ms-word-wrap: break-word;

  a {
    color: $gray;
    text-decoration: none;

    &:link,
    &:visited {
      color: $gray;
    }
    &:hover,
    &:active {
      color: $gray-medium;
    }
  }
}
.excerpt-content {
  border-bottom: solid 2px $gray-light;
}
.more-link {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  line-height: $baseline-height * 1.5;
  background: $orange;
  color: white;
  padding: 0 16.5px; // to mimic old size as closely as possible
  margin: $baseline-height * 0.75 0;
  transition: background 0.2s ease;
  clear: both;

  &:link,
  &:visited {
    color: white;
  }
  &:hover,
  &:active {
    background: $orange-dark;
  }
}
.excerpt-categories,
.excerpt-tags,
.excerpt-comments {
  color: $gray-medium;

  p {
    margin: $baseline-height * 0.5 0 0;
    padding-left: $baseline-height;
  }
  i {
    margin-left: -$baseline-height;
  }
  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.813em;
    line-height: 1.7;
    margin-right: $baseline-height * 0.5;

    &:link,
    &:visited {
      color: $gray-medium;
    }
    &:hover,
    &:active {
      color: $orange;
    }
  }
}
.excerpt-categories i,
.excerpt-comments i {
  margin-right: 0.4375em;
}
.excerpt-tags i {
  margin-right: 0.625em;
}

.loop-pagination {
  background: white;
  padding: $baseline-height * 0.5;
  border-top: solid 2px $orange;
  text-align: center;
  margin-bottom: $baseline-height;

  span,
  a {
    margin: 0 $baseline-height * 0.25;
  }
  a {
    text-decoration: none;
  }
}

/* 500px */
@media all and (min-width: 31.25em) {

  .excerpt-meta-top {

    &:after {
      width: 20%;
    }
  }

}

/* 600px */
@media all and (min-width: 37.5em) {

  .main,
  %container-width {
    padding: $baseline-height 7.407%;
  }
  .loop-pagination {

    span,
    a {
      margin: 0 $baseline-height * 0.5;
    }
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .main,
  %container-width {
    // width: 77.78%;
    padding: $baseline-height 11.11%;
  }
  .excerpt {
    padding: $baseline-height * 1.5 14.333%;

    &.has-post-thumbnail {
      padding-top: 0;
    }
  }
  .featured-image {
    left: -20%;
    width: 140%;
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  /* switch from padding to width */
  .main {
    width: 55.55%;
    padding: $baseline-height 0;
    float: left;
    margin: 0 3.703% 0 7.407%;
  }
  %container-width {
    padding: $baseline-height 7.407%;
  }
  .excerpt {
    padding: $baseline-height * 1.5 13.333%;

    &.has-post-thumbnail {
      padding-top: 0;
    }
  }
  .featured-image {
    left: -18%;
    width: 136%;
  }
  .loop-pagination {
    margin-bottom: $baseline-height * 2;
  }
}

/* 1000px */
@media all and (min-width: 62.5em) {

  .excerpt {
    padding-top: $baseline-height * 2;
  }
  .excerpt.has-post-thumbnail {
    padding-top: 0;
  }
  .excerpt-title {
    font-size: 2.625em;
    line-height: 1.143;
  }
  .excerpt-categories,
  .excerpt-tags,
  .excerpt-comments {
    display: inline-block;
  }
  .excerpt-categories,
  .excerpt-tags {
    margin-right: $baseline-height * 0.5;
  }
}

/* 1100px */
@media all and (min-width: 68.75em) {

  .main {
    width: 59.253%;
  }
  .excerpt {
    margin: $baseline-height * 2 0;
    padding: $baseline-height * 2 12.5% $baseline-height * 1.5;
  }
  .excerpt.has-post-thumbnail {
    padding-top: 0;
  }
  .featured-image {
    left: -16.67%;
    width: 133.33%;
  }
}