// footer styles

.site-footer {
  background: $gray;
  color: $gray-medium;
  @extend %container-width;
  padding-bottom: 0;
  overflow: hidden;
  text-align: center;

  h1 {
    font-size: 1.625em; /* 26px / 16px */
    line-height: 1.85;
  }
  a {
    color: $gray-medium;
    text-decoration: none;

    &:link,
    &:visited {
      color: $gray-medium;
    }
    &:hover,
    &:active {
      color: $orange;
    }
  }
}
.design-credit {
  background: $gray-dark;
  color: $gray-medium;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.08em;
  padding: $baseline-height * 0.5;
  margin-top: $baseline-height * 2;
  position: relative;
  left: -4%;
  width: 108%;
}
.scroll-to-top {
  position: fixed;
  bottom: -45px;
  right: 0;
  z-index: 9;
  background: $gray-dark;
  border: none;
  color: #fff;
  padding: 12px 0;
  width: 60px;
  transition: background 0.2s, transform 0.3s;

  &.visible {
    transform: translateY(-45px);
  }
  &:hover {
    cursor: pointer;
    background: $gray;

    i {
      transform: translateY(-4px);
    }
  }
  i {
    font-size: 21px;
    transition: transform 0.2s;
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  .design-credit {
    left: -9%;
    width: 118%;
  }
}
/* 700px */
@media all and (min-width: 43.75em){

  .site-footer {
    padding: 1.5em 3.703% 0;
  }
  .sidebar-subsidiary {

    &:after {
      @include clearfix;
    }
  }
  .design-credit {
    clear: both;
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .site-footer {
    padding: $baseline-height 7.407% 0;
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  .site-footer {
    padding: $baseline-height 3.703% 0;
  }
  .design-credit {
    left: -4%;
    width: 108%;
  }
}