/* screen reader styling */

// hiding screen reader text
.screen-reader-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* skip content link */

.skip-content {
  position: absolute;
  top: -$baseline-height * 3;
  width: 100%;
  left: 0;
  display: block;
  text-align: center;
  color: white !important;
  z-index: 99;
  padding: $baseline-height;
  background: $gray;
  @include transition(top 0.2s ease);

  &:focus {
    top: 0;
  }
}

// breadcrumbs

.breadcrumbs {
  text-transform: uppercase;
  color: $gray-medium;
  letter-spacing: 0.08em;
  padding: $baseline-height * 2 3.703% 0;
  background: $background;
  @include transition(all 0.3s ease);

  a {
    text-decoration: none;
    color: $orange;

    &:link,
    &:visited {
      color: $orange;
    }
    &:hover,
    &:active {
      color: $orange-dark;
    }
  }
  span {
    opacity: 0.7;
  }

  + div {

    .excerpt {
      margin-top: 0;
    }
  }
}

/* 600px  breadcrumbs */
@media all and (min-width: 37.5em){

  .breadcrumbs {
    padding: $baseline-height * 2 7.407% 0;
  }
}

/* 800px  breadcrumbs */
@media all and (min-width: 50em){

  .breadcrumbs {
    padding: $baseline-height * 2 11.11% 0;
  }
}

/* 900px  breadcrumbs */
@media all and (min-width: 56.25em){

  .breadcrumbs {
    padding: $baseline-height * 2 7.407% 0;

    /* remove margin top on sidebar (and main which didn't have any anyway)*/
    ~ div {
      margin-top: 0;
    }
  }
}

// 404 & search results

.error-404,
.search {

  .entry {
    margin-bottom: 0;
  }
  .entry-header {
    padding-top: $baseline-height;
  }
}
.search-form {
  margin-top: $baseline-height;

  input[type="submit"] {
    max-width: $baseline-height * 10 * 1.85;
    margin-top: $baseline-height;
  }
}
.search {

  .container {
    background: white;
    margin-top: $baseline-height;
  }
  .search-end {
    padding: $baseline-height 8% $baseline-height * 1.5;
  }
  .search-end.top {
    padding-bottom: $baseline-height * 2;
  }
  .search-end.bottom {
    padding-top: 0;
  }
  .excerpt {
    margin-top: 0;
    padding-top: 0;
  }
  .excerpt-content {
    padding-bottom: $baseline-height;
  }
}
.search-no-results {

  .search-end.top .search-form-container {
    display: none;
  }
}

/* 500px */
@media all and (min-width: 31.25em) {

  .search-form {
    input[type="submit"] {
      max-width: $baseline-height * 5 * 1.85;
    }
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .error-404 {

    .entry-header {
      padding-top: $baseline-height * 1.5;
    }
  }
  .search {

    .container {
      padding: $baseline-height 0;
    }
    .search-end {
      padding: $baseline-height 14.333% $baseline-height * 1.5;
    }
    .search-end.top {
      padding-bottom: $baseline-height * 3;
    }
  }
}

/* 1100px */
@media all and (min-width: 68.75em){

  .search {

    .search-end {
      padding: $baseline-height 12.5% $baseline-height * 1.5;
    }
  }
}

/* Password-protected post */

.post-password-form {

  input[type="password"]{
    display: block;
    margin: $baseline-height / 2 0;
  }
}

/* attachment page */

.singular-attachment .further-reading p {
  width: 49.5%;
}

/* Full-width template */
@media all and (min-width: 56.25em) {

  .page-template-full-width {

    .main {
      float: none;
      width: 85.186%;
      margin-left: 7.407%;
    }
  }
}