// post styles

.entry {
  @extend .excerpt;
}
.entry-meta-top {
  @extend .excerpt-meta-top;
}
.entry-title {
  @extend .excerpt-title;
}
.entry-content {
  margin-top: $baseline-height;

  iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.further-reading {
  margin: $baseline-height 0;

  span {
    border-bottom: solid 1px $orange;
    font-weight: 700;
    position: relative;
    display: inline-block;
  }
  a {
    color: $gray;
    text-decoration: none;
    display: block;

    &:link,
    &:visited {
      color: $gray;
    }
    &:hover,
    &:active {
      color: $orange;
    }
  }
}
.author-meta {
  background: #f5f5f5;
  border: solid 1px $off-white;
  padding: $baseline-height;
  margin: $baseline-height 0;

  h4 {
    font-weight: 700;
    border-bottom: solid 1px $orange;
    display: inline-block;
    padding-bottom: 3px;

    a {
      text-decoration: none;
      color: $gray;

      &:link,
      &:visited {
        color: $gray;
      }
      &:hover,
      &:active,
      &:focus {
        color: $orange;
      }
    }
  }
  img {
    border-radius: 50%;
    float: left;
    margin: 0 $baseline-height 0 0;
    width: 72px;
    height: 72px;
    overflow: hidden;
  }
  p {
    margin-top: $baseline-height / 2;
    margin-left: $baseline-height * 4;
  }
}
.entry-categories {
  @extend .excerpt-categories;
}
.entry-tags {
  @extend .excerpt-tags;
}
.last-updated {
  font-style: italic;
}

// New Gutenberg blocks
.wp-block-image.alignfull,
.wp-block-cover {
  position: relative;
  left: -9.5%;
  width: 119%;
  max-width: none;
}
.wp-block-image.alignwide {
  position: relative;
  left: -5%;
  width: 110%;
  max-width: none;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
  margin: $baseline-height;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.wp-block-code code {
  background: none;
}

/* 700px */
@media all and (min-width: 43.75em){

  .further-reading {

    p {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-right: 4%;
    }
    .prev {
      float: left;
    }
    .next {
      text-align: right;
      padding: 0 0 0 4%;
      float: right;
    }
    &:after {
      @include clearfix;
    }
  }
}

/* 800px */
@media all and (min-width: 50em) {

  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -20.25%;
    width: 140.5%;
  }
  .wp-block-image.alignwide {
    left: -12%;
    width: 124%;
  }
}

/* 900px */
@media all and (min-width: 56.25em) {

  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -18%;
    width: 136%;
  }
  .wp-block-image.alignwide {
    left: -10%;
    width: 120%;
  }
}

/* 1100px */
@media all and (min-width: 68.75em) {

  .entry {
    margin-bottom: $baseline-height;
  }
  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -16.75%;
    width: 133.5%;
  }
  .wp-block-image.alignwide {
    left: -9%;
    width: 118%;
  }
}