/* Back-end styles */

/* styles for theme options page */

#ignite-dashboard-wrap {

  h2 {
    margin-bottom: 24px;
  }
  .content {
    box-sizing: border-box;
    margin-top: 12px;
    padding: 12px 24px 24px;
    border: solid 1px #e5e5e5;
    background: white;

    .button-primary,
    #delete {
      margin: 12px 0;
    }
    ul {
      list-style: disc;
      margin-left: 36px;
    }
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  #ignite-dashboard-wrap {

    .content {
      width: 49%;
      float: left;
      margin-right: 2%;
      min-height: 250px;

      &:nth-child(2n) {
        margin-right: 0;
      }
      p {
        min-height: 57px;
      }
    }
  }
}

/* 1100px */
@media all and (min-width: 68.75em) {

  #ignite-dashboard-wrap {

    .content {
      width: 32%;

      &:nth-child(2n) {
        margin-right: 2%;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(4n) {
        clear: left;
      }
    }
  }
}

/* styles for widgets page */

/* add space between upload between and url input */
#image-upload {
  margin-top: 12px;
}

.widgets-php {

  #widgets-left [id*=_ct_ignite_] .widget-top {
    background: #43b3c4;
    color: #fff;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      background: url('../assets/images/logo.svg');
      right: 2px;
      top: 0;
      width: 42px;
      height: 42px;
      opacity: 0.7;
    }
    h3 {
      color: white;
    }
  }
}