
// New dashboard design styles


#ignite-dashboard-wrap {

  h2 {
    margin-bottom: 24px;
  }
}
.ignite-dashboard-wrap {

  h2 {
    margin-bottom: 24px;
  }
  .main {
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);
    margin-bottom: 24px;
  }
  .getting-started {
    padding: 24px;
  }
  h3 {
    font-size: 21px;
    line-height: 1.143;
    margin: 0;
  }
  p,
  a {
    font-size: 16px;
    line-height: 1.5;
  }
  p {
    margin: 24px 0;
  } 
  .plus {
    background: #DFECF0;
    padding: 24px;
  }
  .main {

    h4 {
      font-size: 21px;
      line-height: 1.143;
      margin: 0;
    }
    a {
      font-weight: 700;
    }
  }
  .feature-list {
    margin: 36px 0;

    li {
      margin: 24px 0;
    }
    img {
      width: auto;
      max-width: 100%;
      height: auto;
      margin: 0 24px 0 0;
    }
    p {
      font-size: 14px;
      line-height: 1.714;
      margin: 18px 0;
    }
  }
  .plus-ad {
    padding: 24px;
    background: #05B0E7;
    color: #fff;
    text-align: center;

    h3 {
      color: #fff;
    }
    p {
      margin: 6px 0 24px;
    }
    a {
      display: inline-block;
      padding: 12px 24px;
      text-decoration: none;
      color: white;
      background: #FF931E;
      transition: background 0.2s, transform 0.2s, box-shadow 0.2s;

      &:hover,
      &:active,
      &:focus {
        background: #FFA33F; 
        transform: translateY(-2px);
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.1);
      }
    }
  }
  .sidebar {

    h4 {
      font-size: 16px;
      line-height: 1.5;
      margin: 0 0 24px 0;
    }
    .dashboard-widget {
      padding: 24px;
      margin-bottom: 24px;
      background: #fff;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.1);

      ul {
        margin-top: 24px;
      }
      li {
        margin: 8px 0;
      }
      p,
      a {
        font-size: 14px;
        line-height: 1.714;
        margin: 18px 0;
      }
      img {
        max-width: 100%;
      }
    }
  }
  .ad {
    padding: 24px;
    margin-bottom: 24px;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.05);
    border-color: #5123A0;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      line-height: 0;
      margin: 0;
    }
    .title {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.333;
    }
    .features,
    .products {
      padding-top: 12px;

      ul {
        margin: 12px 0 24px 12px;
        font-size: 16px;
        line-height: 1.5;
      }
    }
    .product {
      font-weight: 700;
    }
    .button {
      text-align: center;
      padding: 0;
      border: none;
      
      a {
        display: block;
        background-color: #FF9900;
        border-radius: 3px;
        padding: 11px;
        color: #fff;
        font-size: 18px;
        line-height: 1.333;
        font-weight: 700;
        border: none;
        text-decoration: none;
        transition: color 0.2s, background-color 0.2s;

        &:link,
        &:visited {
          color: #fff;
        }
        &:hover,
        &:active,
        &:focus {
          color: #fff;
          background-color: #FF9900;
          text-decoration: none;
        }
      }
    }
    .logo-container {
      line-height: 0;
      height: 60px;
    }
    .features ul {
      list-style: none;
      margin-left: 0;

      li {
        margin-bottom: 4px;
  
        &:before {
          content: '\2714';
          margin-right: 6px;
          color: #5123A0;
        }
      }
    }
    &.strive {

      .logo-container {
        height: 100px;
      }
      .features ul li:before {
        color: #43C47C;
      }
    }
  }
  // Don't affect the admin notice that ignite was activated
  .updated p {
    font-size: 13px;
    line-height: 1.5;
  }
  .thanks-upgrading {
    @extend .plus-ad;
  }
  .license-container {

    ~ div {
      margin-top: 24px;
    }
  }
}

@media all and (min-width: 600px) {

  .ignite-dashboard-wrap {

    .feature-list {

      li {
        display: flex;
      }
      .image {
        flex-shrink: 0;
      }
      img {
        width: 260px;
        margin: 0 24px 0 0;
      }
    }
  }
}

@media all and (min-width: 800px) {

  .ignite-dashboard-wrap {

    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    .main {
      float: left;
      width: calc(70% - 24px);
      margin-right: 24px;
    }
    .sidebar {
      float: left;
      width: 30%;
    }
    .getting-started {
      padding: 24px 36px 36px 36px;
    }
    .plus {
      padding: 24px 36px 24px 36px;
    }
    .plus-ad {
      padding: 36px 36px 48px 36px;

      h3 {
        font-size: 24px;
      }
      p {
        margin-bottom: 36px;
      }
    }
    .feature-list {

      li {
        display: list-item;
      }
      img {
        width: auto;
        margin: 0 0 12px 0;
      }
    }
    .thanks-upgrading {
      
      p {
        margin-bottom: 0;
      }
    }
  }
}

@media all and (min-width: 1100px) {

  .ignite-dashboard-wrap {

    .feature-list {

      li {
        display: flex;
      }
      img {
        width: 260px;
        margin: 0 24px 0 0;
      }
    }
  }
}

/* styles for widgets page */

/* add space between upload between and url input */
#image-upload {
  margin-top: 12px;
}

.widgets-php {

  #widgets-left [id*=_ct_ignite_] .widget-top {
    background: #05B0E7;
    color: #fff;
    position: relative;

    h3 {
      color: white;
    }
  }
}