@import "variables";

//----------------------------------------------------------
// Classic editor
//----------------------------------------------------------
.mce-content-body.wp-editor {
  margin: 0 auto;
  padding: 0 24px !important;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased !important;
  background: #fff;
  font-family: $body-font-stack;
}

//----------------------------------------------------------
// Gutenberg
//----------------------------------------------------------
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: $body-font-stack;
  color: $gray;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}
p {
  margin: $baseline-height 0;
}
a {
  color: $orange;
  @include transition(color 0.2s ease);

  &:link {
    color: $orange;
  }
  &:visited,
  &:hover,
  &:active {
    color: $orange-dark;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $body-font-stack;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
h1 {
  font-size: 2.625em; /* 42px / 16px */
  line-height: 1.143;
}
h2 {
  font-size: 2.25em; /* 36px / 16px */
  line-height: 1.34;
}
h3 {
  font-size: 1.625em; /* 26px / 16px */
  line-height: 1.85;
}
h4 {
  font-size: 1.313em; /* 21px / 16px */
  line-height: 1.143;
}
h5 {
  font-size: 1.125em; /* 18px / 16px */
  line-height: 1.34;
}
h6 {
  font-size: 1em;
}
ul,
ol {
  font-size: 1em;
  padding: 0;
  margin: $baseline-height;

  ul,ol {
    margin: 0 $baseline-height;
  }
}
ul ul,
ol ol,
ul ol,
ol ul,
li li {
  font-size: 1em;
}

/* Markup styles */

pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  background: $off-white;
  padding: $baseline-height / 2;
}
code {
  background: $off-white;
  padding: 0 $baseline-height / 4;
}
blockquote {
  margin: $baseline-height $baseline-height $baseline-height 0;
  padding-left: $baseline-height;
  border-left: solid 3px $orange;

  cite {
    display: block;
    text-align: right;
  }
}
hr {
  margin: $baseline-height * 0.46 0;
}
/* Table styles */
table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: $baseline-height 0;
}
td {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}
th {
  padding: 0.5em 0.75em;
  border: solid 1px black;
}

/* Images */

.alignleft {
  float: left;
  margin: 0 $baseline-height $baseline-height 0;
}
.alignright {
  float: right;
  margin: 0 0 $baseline-height $baseline-height;
}
.aligncenter {
  text-align: center;
  margin: $baseline-height auto;
  display: block;
}
.alignnone {
  margin: $baseline-height;
}
.alignright,
.alignleft,
.aligncenter,
.alignnone,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
.wp-caption-text {
  margin: 0 0 $baseline-height / 0.813;
  font-size: 0.813em;
  line-height: 1.85;
  color: $gray-medium;
}

.wp-block {
  max-width: 733px;
}
.editor-post-title textarea {
  @extend h1;
  color: $gray;
  outline: none;
  padding: 19px;
  font-family: $body-font-stack;
  font-weight: 700;
}
.wp-block[data-align="wide"],
.wp-block[data-align="full"] {
  max-width: none;
}
.wp-block-quote {
  border-color: $orange;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.has-small-font-size {
  font-size: 13px;
}
.has-regular-font-size {
  font-size: 16px;
}
.has-large-font-size {
  font-size: 21px;
}
.has-extra-large-font-size {
  font-size: 36px;
}