/* styles for theme options page */

#ignite-dashboard-wrap .nav-tab-wrapper {
    padding-top: 24px;
}
.content {
    margin-top: 24px;
    padding: 12px 24px;
    border: solid 1px #CCC;
}
.content .button-primary {
    margin: 12px 0;
}
.content ul {
    list-style: disc;
    margin-left: 36px;
}