/* Back-end styles */
/* styles for theme options page */
#ignite-dashboard-wrap h2 {
  margin-bottom: 24px;
}

.content {
  margin-top: 12px;
  padding: 12px 24px 24px;
  border: solid 1px #e5e5e5;
  background: white;
}
.content .button-primary {
  margin: 12px 0;
}
.content ul {
  list-style: disc;
  margin-left: 36px;
}

/* 600px */
@media all and (min-width: 37.5em) {
  .content {
    width: 39%;
    float: left;
  }
  .content p {
    min-height: 57px;
  }

  .content-customization,
  .content-resources {
    margin-right: 2%;
  }
}
/* 1100px */
@media all and (min-width: 68.75em) {
  .content {
    width: 27%;
  }
  .content:nth-child(3n + 2) {
    clear: left;
  }

  .content-customization,
  .content-support {
    margin-right: 1%;
  }

  .content-resources {
    margin-right: 0;
  }
}
/* styles for widgets page */
/* add space between upload between and url input */
#image-upload {
  margin-top: 12px;
}

#widgets-left [id*=_ct_ignite_] .widget-top {
  background: #43b3c4;
  color: #fff;
  position: relative;
}
#widgets-left [id*=_ct_ignite_] .widget-top:after {
  content: '';
  position: absolute;
  background: url("../assets/images/logo.svg");
  right: 2px;
  top: 0;
  width: 42px;
  height: 42px;
  opacity: 0.7;
}
