/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
#sub-accordion-section-ct_ignite_social_settings #customize-control-email-form {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: solid 1px #d5d5d5;
}

.upgrades-ad a {
  display: block;
  padding: 12px 24px;
  text-align: center;
  color: white;
  text-decoration: none;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
.upgrades-ad a:hover {
  background: #3FBEE8;
}

#accordion-section-ct_ignite_plus .accordion-section-title {
  color: #fff;
  background: #05B0E7;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#accordion-section-ct_ignite_plus .accordion-section-title:after {
  color: #fff;
}
#accordion-section-ct_ignite_plus .accordion-section-title:hover, #accordion-section-ct_ignite_plus .accordion-section-title:active, #accordion-section-ct_ignite_plus .accordion-section-title:focus {
  background: #3A96B5 !important;
  color: #fff !important;
}
#accordion-section-ct_ignite_plus .accordion-section-title:hover:after, #accordion-section-ct_ignite_plus .accordion-section-title:active:after, #accordion-section-ct_ignite_plus .accordion-section-title:focus:after {
  color: #fff !important;
}

#customize-control-ignite_plus {
  background: white;
  border: solid 1px #D9DCDF;
  padding: 6px 24px;
  box-sizing: border-box;
}
#customize-control-ignite_plus ul {
  list-style: disc;
  padding-left: 15px;
}
#customize-control-ignite_plus img {
  position: relative;
  max-width: none;
  width: 273px;
  top: -6px;
  left: -24px;
  border-bottom: solid 1px #D9DCDF;
}
#customize-control-ignite_plus .bold {
  font-weight: 600;
  font-size: 16px;
}
#customize-control-ignite_plus .button-wrapper {
  text-align: center;
}
#customize-control-ignite_plus .ignite-plus-button {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px 24px;
  margin: 12px auto;
  background: #FF931E;
  color: #fff;
  text-decoration: none;
  -webkit-transition: background 0.2s;
          transition: background 0.2s;
}
#customize-control-ignite_plus .ignite-plus-button:before {
  content: '\f06e';
  font-family: 'FontAwesome';
  margin-right: 6px;
}
#customize-control-ignite_plus .ignite-plus-button:hover, #customize-control-ignite_plus .ignite-plus-button:active, #customize-control-ignite_plus .ignite-plus-button:focus {
  background: #FF8A23;
}

/**
 * @author zhixin wen <wenzhixin2010@gmail.com>
 */
.ms-parent {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 250px !important;
}

.ms-choice {
  display: block;
  width: 100%;
  height: 26px;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #aaa;
  text-align: left;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  border-radius: 4px;
  background-color: #fff;
}

.ms-choice:focus {
  outline: none;
}

.ms-choice.disabled {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}

.ms-choice > span {
  position: absolute;
  top: 0;
  left: 0;
  right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding-left: 8px;
}

.ms-choice > span.placeholder {
  color: #999;
}

.ms-choice > div {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 25px;
  background: url("multiple-select.png") left top no-repeat;
}

.ms-choice > div.open {
  background: url("multiple-select.png") right top no-repeat;
}

.ms-drop {
  width: 100%;
  overflow: hidden;
  display: none;
  margin-top: -1px;
  padding: 0;
  position: relative;
  z-index: 1000;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.ms-drop.bottom {
  top: 100%;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.ms-drop.top {
  bottom: 100%;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
}

.ms-search {
  display: inline-block;
  margin: 0;
  min-height: 26px;
  padding: 4px;
  position: relative;
  white-space: nowrap;
  width: 100%;
  z-index: 10000;
}

.ms-search input {
  width: 100%;
  height: auto !important;
  min-height: 24px;
  padding: 0 20px 0 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  border-radius: 0;
  box-shadow: none;
  background: #fff url("multiple-select.png") no-repeat 100% -22px;
  background: url("multiple-select.png") no-repeat 100% -22px, -webkit-linear-gradient(top, #ffffff 85%, #eeeeee 99%);
  background: url("multiple-select.png") no-repeat 100% -22px, linear-gradient(to bottom, #ffffff 85%, #eeeeee 99%);
}

.ms-search, .ms-search input {
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.ms-drop ul {
  overflow: auto;
  margin: 0;
  padding: 5px 8px;
}

.ms-drop ul > li {
  list-style: none;
  display: list-item;
  background-image: none;
  position: static;
}

.ms-drop ul > li .disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
}

.ms-drop ul > li.multiple {
  display: block;
  float: left;
}

.ms-drop ul > li.group {
  clear: both;
}

.ms-drop ul > li.multiple label {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ms-drop ul > li label {
  font-weight: normal;
  display: block;
  white-space: nowrap;
}

.ms-drop ul > li label.optgroup {
  font-weight: bold;
}

.ms-drop input[type="checkbox"] {
  vertical-align: middle;
}

.ms-drop .ms-no-results {
  display: none;
}
