/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/* Customizer Styles */
.upgrades-ad {
  text-align: center;
  border-bottom: solid 1px #eee;
}
.upgrades-ad a {
  display: block;
  padding: 9px 0;
  color: white;
  background: #43b3c4;
}
.upgrades-ad a:link, .upgrades-ad a:visited, .upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  color: white;
}
.upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  background: #3ea5b3;
}
.upgrades-ad a:hover span, .upgrades-ad a:active span, .upgrades-ad a:focus span {
  right: -3px;
}
.upgrades-ad span {
  position: relative;
  right: 0;
  -webkit-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}

#accordion-section-ignite_colors .accordion-section-title,
#accordion-section-ignite_colors .accordion-section-title:hover,
#accordion-section-ignite_header_image .accordion-section-title,
#accordion-section-ignite_header_image .accordion-section-title:hover,
#accordion-section-ignite_navigation_style .accordion-section-title,
#accordion-section-ignite_navigation_style .accordion-section-title:hover {
  background-image: url("../assets/images/gray-lines.png");
  -webkit-background-size: 100%;
  background-size: 100%;
}
#accordion-section-ignite_colors .accordion-section-title:after,
#accordion-section-ignite_colors .accordion-section-title:hover:after,
#accordion-section-ignite_header_image .accordion-section-title:after,
#accordion-section-ignite_header_image .accordion-section-title:hover:after,
#accordion-section-ignite_navigation_style .accordion-section-title:after,
#accordion-section-ignite_navigation_style .accordion-section-title:hover:after {
  content: '\f023';
  font-family: 'FontAwesome';
}
