/*===== Variables =====*/
/* Theme Colors */
/* Social Media Brand Colors */
/*===== Mixins =====*/
/* Customizer Styles */
.upgrades-ad {
  background: white;
  padding: 0.75em 0;
  text-align: center;
  border-bottom: solid 1px #eee;
}
.upgrades-ad a {
  display: inline-block;
  padding: 9px 0;
  color: #222;
  border: solid 1px #222;
  width: 270px;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}
.upgrades-ad a:link, .upgrades-ad a:visited, .upgrades-ad a:hover, .upgrades-ad a:active, .upgrades-ad a:focus {
  color: #222;
}
.upgrades-ad:hover span {
  right: -3px;
}
.upgrades-ad:hover a {
  background: #f5f5f5;
  border-color: #bbb;
}
.upgrades-ad span {
  position: relative;
  right: 0;
  -webkit-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
